<h1>Overview of all Invoices</h1>
<ul class="list-group">
    <% @invoices.each do |i| %>
        <li class="list-group-item"><%= link_to i.invoice_num, i %>, <%= i.price %>, <%= i.description %>, <%= i.customer_name %></li>
    <% end%>
</ul>