<header>
  <nav>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <%= link_to 'Projects', projects_path, class: 'nav-link active' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Link', projects_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Another Link', projects_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Disabled', '#', class: 'nav-link disabled', tabindex: '-1', 'aria-disabled': 'true' %>
      </li>
    </ul>
  </nav>
</header>